<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="/js/script.js" defer></script>
    <title>Budget Buddy - Success Page</title>
</head>
<body class="bg-gray-200/50">
    <!-- Header -->
    <header class="border-b border-gray-300/75 w-screen grid grid-cols-5 mb-6 bg-green-700/70 p-3 pb-7">
        <h1 class="w-fit inline ml-auto mr-auto text-center col-span-3 md:text-3xl text-2xl text-zinc-900 size-6 font-bold">BUDGET BUDDY</h1>
        <!-- Nav Bar -->
        <nav class="md:bg-transparent flex justify-between items-center w-[92%]  mx-auto">
            <div id="nav-Links" class="md:bg-transparent bg-neutral-800 mr-auto nav-links duration-500 md:static absolute  md:min-h-fit min-h-[40vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="bg-transparent w-fit flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <a href="/" class="text-gray-50 md:text-zinc-900 align-middle w-max inline text-center  hover:text-gray-500">
                        Home
                     </a>
                    <a href="expense" class="text-gray-50 md:text-zinc-900 align-middle w-max inline text-center  hover:text-gray-500">
                       Add Expense
                    </a>
                    <a href="income" class="text-gray-50 md:text-zinc-900 align-middle w-max inline text-center  hover:text-gray-500">
                       Add Income
                    </a>
                    <a href="allEntries" class="text-gray-50 md:text-zinc-900 align-middle w-max inline text-center  hover:text-gray-500">
                    See All
                    </a>
                </ul>
            </div>
        </nav>
        <div class="flex items-center gap-6 md:hidden">
            <button onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:w-0 md:hidden">☰</button>
        </div>
    </header>
        <!-- Shows if income form was submitted -->
        <% if(incomeData){ %>
            <div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg border border-gray-200">
                <h1 class="text-2xl font-bold text-green-700 mb-4">
                  Congrats! You submitted an income form on <%= incomeData.date %>
                </h1>
                <p class="text-gray-700 mb-4">
                  Some details about your submission:
                </p>
                <ul class="list-disc pl-6 text-gray-800">
                  <li class="mb-2">
                    <span class="font-semibold">Category:</span> <%= incomeData.category %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Amount:</span> <%= incomeData.amount %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Description:</span> <%= incomeData.description %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Source:</span> <%= incomeData.category %>
                  </li>
                </ul>
              </div>
        <!-- Shows if an expense form was submitted -->
        <% } else if(expenseData){ %>
            <div class="max-w-lg mx-auto p-6 bg-gray-100 shadow-md rounded-lg border border-gray-300">
                <h1 class="text-2xl font-bold text-green-700 mb-4">
                  Congrats! You submitted an expense form on <%= expenseData.date %>
                </h1>
                <p class="text-gray-700 mb-4">
                  Some details about your submission:
                </p>
                <ul class="list-disc pl-6 text-gray-800">
                  <li class="mb-2">
                    <span class="font-semibold">Category:</span> <%= expenseData.category %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Amount:</span> <%= expenseData.amount %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Description:</span> <%= expenseData.description %>
                  </li>
                  <li class="mb-2">
                    <span class="font-semibold">Expense Type:</span> <%= expenseData.expense_type %>
                  </li>
                </ul>
                <% } %>            
</body>
</html>